<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <!--Declaramos los namespace-->
  <namespace name="ERP.Utilities" />
  <namespace name="ERP.Utilities.Support" />
  <assembly name="ERP.Utilities" />

  <namespace name="ERP.Services" />
  <assembly name="ERP.Services.Interface" />
  
  <namespace name="ERP.Services.Support" />
  <assembly name="ERP.Services.Support" />

  <namespace name="ERP.DAO.Interface" />
  <namespace name="ERP.DAO.Support" />
  <assembly name="ERP.DAO.Interface" />


  <container name="UtilitiesDI">
    <!-- Registramos la Capa Utilities-->
    <register type="IErrorCatch" mapTo="ErrorCatch"/>

    <!-- Registramos la Capa Services-->
    <register type="IClientServices" mapTo="ERP.Services.Support.ClientServices, ERP.Services.Support"/>

    <!-- Registramos la Capa DAO-->
    <register type="IClientDAO" mapTo="ClientDAO"/>
  </container>

  
</unity>
