@model ERP.DTO.SimpleTO



<div class="jumbotron">
    <h1>Spartan</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Probando Injection: Unity Injection</h2>
        <p>
           El resultado es :( @Model.description );
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
   
</div>